---
name: flats
eleventyComputed:
    L: "en"
    title: "{{building.Texts | find('Web_type', 'eq', 'privado') | first | translate('Title',L)}}"
    description: "{{building.Texts | find('Web_type', 'eq', 'privado') | first | translate('Meta_description',L)}}"
    alt:
      es: "{{langs.es.folder}}/{{langs.es.pages[name].url}}-{{building.Name | slugify}}.html"
      en: "{{langs.en.folder}}/{{langs.en.pages[name].url}}-{{building.Name | slugify}}.html"
    permalink: "{{root}}{{langs[L].folder}}/{{langs[L].pages[name].url}}-{{building.Name | slugify}}.html"
layout: shared/layouts/base.html
pagination:
    data: buildingsflats
    size: 1
    alias: building
    addAllPagesToCollections: true

date: Last Modified
changefreq: "weekly"
priority: "1.0"
tags: page
---
{% include 'shared/sections/building/flats/main.html.njk' %}