{% set building_texts = building.Texts | find('Web_type', 'eq', 'compartido') | first %}
<section class="first-contain pure-u-1 {% if site == 'vanguard' %} vanguard {% else %} cotown {% endif %}" >

  <!-- Photo carousel -->
  <section id="image-carousel" class="splide first-slider pure-u-1" aria-label="Beautiful Images">
    <div class="title-button {% if building_texts.Tour %} with-tour {% else %} no-tour {% endif %}"{% if not building_texts.Tour %} onclick="thumb('big', splidebig, splidefirst);"{% endif %}>
      <p class="head6" style="font-weight:600; text-align:left; padding: 0 10px;">{{ building_texts | translate('Description', L) | safe }}</p>
      <div class="head1">{{building.Name}}</div>
      <h1 class="head6" style="font-style: italic;padding: 0 10px;">{{ building_texts | translate('Header', L) | safe }}</h1>
      {% if site == 'vanguard' %}
      {% else %}
      <div class="sello-cotown pure-u-1">
        <img class="img-sello" alt="sello" src="{{root}}/assets/img/sello.svg">
      </div>    
      {% endif %}
      {% if building_texts.Tour %}
      <button class="btn-secondary" onclick="open_tour('{{building_texts.Tour}}')">
        {% literal texts, 'rooms-tour-virtual', L %}
        {% if site == 'vanguard' %}
        {% else %}
          <div class="mini-border"></div>
        {% endif %}
      </button>
      {% endif %}

    </div>
    <div class="splide__track" onclick="thumb('big', splidebig, splidefirst);">
      <ul class="splide__list">
       {% for i in building.Photos | find('Image_type', 'eq', 'habitacion') %}
        <li class="splide__slide">
          {% image
            constants.SERVER + "/wopi/files/Marketing/Media_building/" + i.id +"/Image/contents?access_token=" + token,
            L, building.Name, building.Name, building.Name + '-' + i.id | slugify, "",
            [1600], ""
          %}
        </li>
      {% endfor %}
      </ul>
    </div>
  </section>

  <!-- Big photos -->
  <section id="big" class="splide hidden-div">
    <div class="photos">
      <div class="close" onclick="document.getElementById('big').style.display = 'none';"><em class="icon-close"></em></div>
      <div class="splide__track">
        <ul class="splide__list">
          {% for i in building.Photos | find('Image_type', 'eq', 'habitacion') %}
          <li class="splide__slide">
          <div class="bigdiv">
            {% image
              constants.SERVER + "/wopi/files/Marketing/Media_building/" + i.id +"/Image/contents?access_token=" + token,
              L, building.Name, building.Name, building.Name + '-' + i.id | slugify, "bigimage",
              [1600], ""
            %}
          </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>

  <div class="pure-u-1 after-slide">

    <!-- Description -->
    <div class="text-first pure-u-23-24 pure-u-lg-12-24">
    {{ building_texts | translate('Details', L) | markdown | safe }}
    {% if building.District.Location.id == 1 %}
    {% set legal = texts['texto-legal'][L].replace('{legal}', 'https://back.cotown.com/api/v1/legal/pc/' + siteid + '/' + building.Code + '.pdf') %}
    <!--!
    {{ legal | markdown | safe }}
    -->
    {% endif %}
    </div>

    <!-- Services -->
    <section class="flat-services pure-u-23-24 pure-u-lg-9-24">
      <h2 class="head2">{% literal texts, 'home-servicios-titulo', L %}</h2>
      <div id="splideServices" class="splide splide-services" role="group">
        <div class="splide__track">
          <ul class="splide__list">

            {% for s in building.Services %}
              {% if loop.first %}
              <li class="splide__slide">
              <div class="slide">
              {% endif %}
                <div class="img">
                  {% svg
                    constants.SERVER + "/wopi/files/Marketing/Media_service_type/" + s.Service.Images[0].id +"/Icon/contents?access_token=" + token,
                    s.Service.Name
                  %}
                </div>
                <p class="title">{{s.Service | translate('Name', L)}}</p>
              {% if loop.last %}
              </div>
              </li>
              {% else %}
              {% if loop.index % 2 == 0%}
              </div>
              </li>
              <li class="splide__slide">
              <div class="slide">
              {% endif %}
              {% endif %}
            {% endfor %}

          </ul>
        </div>
      </div>
    </section>
  
  </div>

  <div class="pure-u-1 after-slide bottom">

    <div class="text-first pure-u-23-24 pure-u-lg-12-24">
      {% if building_texts.Tour %}
      <button class="btn-text">
        <a href="#" onclick="open_tour('{{building_texts.Tour}}')">{% literal texts, 'rooms-tour-virtual', L %}
          {% if site == 'vanguard' %}
          {% else %}
            <div class="mini-border"></div>
          {% endif %}</a>
      </button>
      {% endif %}
      {% if flats | find('id', 'eq', building.id) | length > 0 %}
      <button class="btn-text">
        <a href="{{root}}{{langs[L].folder}}/{{langs[L].pages.flats.url}}-{{building.Name | slugify}}.html">
        {% literal texts, 'rooms-nuestros-apartamentos-privados', L %}
          {% if site == 'vanguard' %}
          {% else %}
            <div class="mini-border"></div>
          {% endif %}
        </a>
      </button>
      {% endif %}
      <button class="btn-text">
        <a href="#barrio">
          {% literal texts, 'rooms-tu-barrio', L %}
          {% if site == 'vanguard' %}
          {% else %}
            <div class="mini-border"></div>
          {% endif %}
        </a>
      </button>
    </div>

    <!-- Dates -->
    <section id="selected-dates" class="right-calendar pure-u-23-24 pure-u-lg-9-24 hidden">
      <div class="calendar pure-u-1">
        <div class="reservas pure-u-1">
          <div class="button-calendar" onclick="go_check();">
            <div class="checkin pure-u-1-2"> 
              <p class="label">{% literal texts, 'dates-entrada', L %}</p>
              <p id="checkin" class="dates"></p>
            </div> 
            <div class="checkout pure-u-1-2"> 
              <p class="label">{% literal texts, 'dates-salida', L %}</p>
              <p id="checkout" class="dates"></p>
            </div> 
          </div>        
        </div>
      </div>
    </section>
    
  </div>

</section>

<div id="tour" class="tour-modal">
	<div class="tour-modal-content">
    <div class="close" onclick="close_tour();">
      <em class="icon-close"></em>
    </div>
    <iframe id="tourframe" width="100%" frameborder="0" allowfullscreen="allowfullscreen">
    </iframe>
  </div>
</div>

<!-- Promo -->
{% set rent_pct = 0.0 %}
{% set fee_pct = 0.0 %}
{% for x in promos %}
  {% if x.building == building.id and (not x.flat_type or x.flat_type | slice(0, 3) != 'APT') %}
    {% if x.Value_rent_pct | float < rent_pct  %}
      {% set rent_pct = x.Value_rent_pct | float %}
    {% endif %}
    {% if x.Value_fee_pct | float < fee_pct %}
      {% set fee_pct = x.Value_fee_pct | float %}
    {% endif %}
  {% endif %}
{% endfor %}
{% if rent_pct < 0 %}
<div class="sticker sticker-primary stick">
  <span class="line1">{% literal texts, 'promo-upto', L %} {{rent_pct|round(1)}}% {% literal texts, 'promo-discount', L %}</span>
  <span class="line2">{% literal texts, 'promo-rent', L %}</span>
</div>
{% endif %}
{% if fee_pct < 0 %}
<div class="sticker sticker-secondary stick">
  <span class="line1">{% literal texts, 'promo-upto', L %} {{fee_pct|round(1)}}% {% literal texts, 'promo-discount', L %}</span>
  <span class="line2">{% literal texts, 'promo-fee', L %}</span>
</div>
{% endif %}